button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 120px;
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  transition: background-color 0.3s, transform 0.2s;
}
